@mixin imgsize {
    width: 80%; 
    height: auto; 
    max-width: 300px;
    margin: 5% 5%;
}

@mixin border {
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 0px none $primary-color;
    background-color: $primary-color;
}

@mixin margin {
    margin: 2% auto;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(166,164,166,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(166,164,166,1);
    box-shadow: 0px 0px 8px 2px rgba(166,164,166,1);
}

@mixin style-menu($background, $police-menu) {
    background-color:$background;
    font-family: $police-menu;
    text-align: center;
}

@mixin gradient-text($first-color, $second-color){
        background-color: $first-color;
        background-image: linear-gradient(120deg, $first-color, $second-color);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
}

@mixin gradient-music {
        color: #c31f2e;
        background: -webkit-linear-gradient(321deg, red, #ffc3af);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@mixin size-fonts($weight, $size){
    font-weight: $weight;
    font-size: $size;
}

@mixin style-note-music {
    transform: skewX(-0.04turn) skewY(-0.03turn) scaleX(1.8);
}

@mixin keyframes($wiggle) {
    @-webkit-keyframes #{$wiggle} {
        0% { transform: rotate(0deg); }
        80% { transform: rotate(0deg); }
        85% { transform: rotate(5deg); }
        95% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
    }
    @keyframes #{$wiggle} {
        0% { transform: rotate(0deg); }
        80% { transform: rotate(0deg); }
        85% { transform: rotate(5deg); }
        95% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
    }
}

@mixin wiggle($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}

@mixin zoommenu {
    transform: scale(1);
}
  