@mixin imgsize {
    width: 80%; 
    height: auto; 
    max-width: 300px;
    margin: 5% 5%;
}

@mixin border {
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 0px none $primary-color;
    background-color: $primary-color;
}

@mixin margin {
    margin: 2% auto;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin box-shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin style-menu($background, $police-menu) {
    background-color:$background;
    font-family: $police-menu;
    text-align: center;
}

@mixin gradient-text($first-color, $second-color){
        background-color: $first-color;
        background-image: linear-gradient(120deg, $first-color, $second-color);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
}

@mixin gradient-music {
        color: #c31f2e;
        background: -webkit-linear-gradient(321deg, red, #ffc3af);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@mixin size-fonts($weight, $size){
    font-weight: $weight;
    font-size: $size;
}

@mixin style-note-music {
    transform: skewX(-0.04turn) skewY(-0.03turn) scaleX(1.8);
}