@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Satisfy';
  src: url("fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url("fonts/Comorant/CormorantInfant-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url("fonts/Kaushan/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("fonts/Dancing script/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

body a:link {
  text-decoration: none;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  background-color: #579c87;
}

header a h1 {
  font-weight: 800;
  font-size: 3.5em;
  color: #fdcb46;
  margin: 15% auto;
}

main {
  width: 60%;
  margin: auto auto;
}

main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  width: 32%;
  height: 400px;
  -webkit-box-shadow: 0 1px 10px rgba(69, 74, 74, 0.3);
  box-shadow: 0 1px 10px rgba(69, 74, 74, 0.3);
}

main a:nth-child(1) {
  background-color: #fcdfdb;
  font-family: "Satisfy";
  text-align: center;
}

main a:nth-child(1) #note-music {
  background-color: #f16e72;
  background-image: linear-gradient(120deg, #f16e72, #f78f6a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2.5em;
}

main a:nth-child(1) h2 {
  background-color: #532b30;
  background-image: linear-gradient(120deg, #532b30, #532b30);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.2em;
}

main a:nth-child(1) h3 {
  color: #532b30;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

main a:nth-child(2) {
  background-color: #fff5fe;
  font-family: "Cormorant Infant";
  text-align: center;
}

main a:nth-child(2) h2 {
  background-color: #d88b45;
  background-image: linear-gradient(120deg, #d88b45, #9360fe);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.4em;
}

main a:nth-child(2) h3 {
  color: #d88b45;
  font-weight: 700;
  font-size: 1.8em;
}

main a:nth-child(3) {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
  text-align: center;
}

main a:nth-child(3) h2 {
  background-color: #1f45e1;
  background-image: linear-gradient(120deg, #1f45e1, #178ffa);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.4em;
}

main a:nth-child(3) h3 {
  color: #178ffa;
  font-family: "Kaushan Script";
  font-weight: 700;
  font-size: 1.8em;
}

main a:nth-child(4) {
  background-color: #fdfffd;
  font-family: "Kaushan Script";
  text-align: center;
}

main a:nth-child(4) h2 {
  background-color: #54a546;
  background-image: linear-gradient(120deg, #54a546, #c2ff88);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.4em;
}

main a:nth-child(4) h3 {
  color: #54a546;
  font-weight: 700;
  font-size: 1.8em;
}

main a:nth-child(5) {
  border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  border: 0px none #579c87;
  background-color: #579c87;
  width: 12%;
  height: 60px;
  margin-bottom: 45px;
  padding: 1px 100px;
}

main a:nth-child(5) h4 {
  color: #fdcb46;
  font-weight: 400;
  font-size: 1.6em;
}

main article {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #579c87;
  height: 10%;
}

footer a:link {
  font-size: 1.5em;
  color: #fdcb46;
  padding: 2% 2%;
}
/*# sourceMappingURL=style.css.map */