@charset "UTF-8";
/* ---------------------------------------- */
/* == IMPORTATION DES VARIABLES ET MIXINS*/
/*---------------------------------------- */
/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Satisfy';
  src: url("fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url("fonts/Comorant/CormorantInfant-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url("fonts/Kaushan/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("fonts/Dancing script/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */
body,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ---------------------------------------- */
/* == MOBILE FIRST*/
/*---------------------------------------- */
body {
  font-family: "Montserrat";
  /* Font principal du site */
  font-size: 12px;
}

/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */
header {
  display: -ms-grid;
  display: grid;
  /* Mise en page de l'élément */
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  /* Mise en page de l'élément */
  background-color: #579c87;
}

header h1 {
  text-align: center;
  /* Mise en page de l'élément */
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  /* Mise en page de l'élément */
  color: #fdcb46;
  font-family: "Montserrat";
  font-size: 3em;
}

/* ---------------------------------------- */
/* ==              MAIN              */
/*---------------------------------------- */
main {
  display: -ms-grid;
  display: grid;
  /* Mise en page de l'élément */
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  /* Mise en page de l'élément */
}

main nav {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/10;
  /* Mise en page de l'élément */
  text-align: center;
  /* Mise en page de l'élément */
}

main nav #menu1 {
  background-color: #fcdfdb;
  font-family: "Satisfy";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

main nav #menu1 h2 {
  color: #532b30;
  font-size: 1.5em;
}

main nav #menu1 h3 {
  color: #532b30;
}

main nav #menu2 {
  background-color: #fff5fe;
  font-family: "Cormorant Infant";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

main nav #menu2 h2 {
  background-color: #d88b45;
  background-image: linear-gradient(120deg, #d88b45, #9360fe);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  font-size: 1.5em;
  /* Taille Police */
}

main nav #menu2 h3 {
  color: #d88b45;
}

main nav #menu3 {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

main nav #menu3 h2 {
  background-color: #1f45e1;
  background-image: linear-gradient(120deg, #1f45e1, #178ffa);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  /* Demander à Séverine pour le début du H2 est coupé */
  font-size: 1.5em;
  /* Taille Police */
  font-weight: 500;
  /* Taille Police */
}

main nav #menu3 h3 {
  color: #178ffa;
  font-family: "Kaushan Script";
  font-weight: 500;
  /* Taille Police */
}

main nav #menu4 {
  background-color: #fdfffd;
  font-family: "Kaushan Script";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

main nav #menu4 h2 {
  background-color: #54a546;
  background-image: linear-gradient(120deg, #54a546, #c2ff88);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  font-size: 1.5em;
  /* Taille Police */
}

main nav #menu4 h3 {
  color: #54a546;
  font-family: "Kaushan Script";
  font-weight: 500;
  /* Taille Police */
}

main #bouton-prochainement {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  /* Mise en page de l'élément */
  text-align: center;
  /* Mise en page de l'élément */
  background-color: #579c87;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 0px none #579c87;
  background-color: #579c87;
  margin-bottom: 20px;
}

main #bouton-prochainement a {
  color: #fdcb46;
}

main #bouton-prochainement a h3 {
  margin: 8px;
  font-size: 1.2em;
  font-weight: 400;
}

/* ---------------------------------------- */
/* ==              FOOTER             */
/*---------------------------------------- */
footer {
  display: -ms-grid;
  display: grid;
  /* Mise en page de l'élément */
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  /* Mise en page de l'élément */
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  /* Mise en page de l'élément */
  text-align: center;
  /* Mise en page de l'élément */
  background-color: #579c87;
}

footer #bouton-mentions-legales {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  /* Mise en page de l'élément */
  padding: 5px;
  /* Mise en page de l'élément */
  margin-top: 10px;
  margin-bottom: 5px;
}

footer #bouton-contact {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  /* Mise en page de l'élément */
  -ms-grid-row: 2;
  grid-row: 2/2;
  /* Mise en page de l'élément */
}

footer a {
  color: #fdcb46;
  font-size: 1.2em;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */
/* /* small tablet styles */
/* @media screen and (min-width: 620px) {} */
/* large tablets & laptop styles */
/* @media screen and (min-width: 960px) {} */
/* desktop styles */
/* @media screen and (min-width: 1200px) {} */
/*# sourceMappingURL=style.css.map */