@charset "UTF-8";
/* ---------------------------------------- */
/* == IMPORTATION DES VARIABLES ET MIXINS*/
/*---------------------------------------- */
/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Satisfy';
  src: url("fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url("fonts/Comorant/CormorantInfant-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaushan Script';
  src: url("fonts/Kaushan/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("fonts/Dancing script/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */
body,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ---------------------------------------- */
/* == MOBILE FIRST*/
/*---------------------------------------- */
body {
  font-family: "Montserrat";
  /* Font principal du site */
  font-size: 12px;
}

/* ---------------------------------------- */
/* ==             HOMEPAGE             */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */
header {
  display: grid;
  /* Mise en page de l'élément */
  grid-template-columns: repeat(3, 1fr);
  /* Mise en page de l'élément */
  background-color: #579c87;
  width: 100%;
}

header h1 {
  text-align: center;
  /* Mise en page de l'élément */
  grid-column: 2/3;
  /* Mise en page de l'élément */
  color: #fdcb46;
  font-family: "Montserrat";
  font-size: 3em;
}

header h1 a {
  color: #fdcb46;
}

/* ---------------------------------------- */
/* ==              MAIN              */
/*---------------------------------------- */
#main-homepage {
  display: grid;
  /* Mise en page de l'élément */
  grid-template-columns: repeat(12, 1fr);
  /* Mise en page de l'élément */
  margin-bottom: 75px;
}

#main-homepage nav {
  grid-column: 2/12;
  /* Mise en page de l'élément */
  min-width: 350px;
  max-width: 350px;
  align-self: center;
  justify-self: center;
}

#main-homepage nav #menu1 {
  background-color: #fcdfdb;
  font-family: "Satisfy";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  -moz-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

#main-homepage nav #menu1 :hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

#main-homepage nav #menu1 #note-music {
  background-color: #8f1e29;
  background-image: linear-gradient(120deg, #8f1e29, #fcb095);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Voir dégradé note music avec Séverine */
  font-size: 45px;
  margin-bottom: 0;
  transform: skew(-10deg, -15deg);
  /* Voir cisaillement note music avec Séverine */
  color: #c31f2e;
  background: -webkit-linear-gradient(321deg, red, #ffc3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-homepage nav #menu1 h2 {
  color: #532b30;
  font-size: 30px;
  margin-top: 0;
}

#main-homepage nav #menu1 h3 {
  color: #532b30;
  font-size: 20px;
}

#main-homepage nav #menu2 {
  background-color: #fff5fe;
  font-family: "Cormorant Infant";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  -moz-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

#main-homepage nav #menu2 :hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

#main-homepage nav #menu2 h2 {
  background-color: #d88b45;
  background-image: linear-gradient(120deg, #d88b45, #9360fe);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  font-size: 30px;
  /* Taille Police */
}

#main-homepage nav #menu2 h3 {
  color: #d88b45;
  font-size: 20px;
}

#main-homepage nav #menu3 {
  background-color: #f9f9f9;
  font-family: "Dancing Script";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  -moz-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

#main-homepage nav #menu3 :hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

#main-homepage nav #menu3 h2 {
  background-color: #1f45e1;
  background-image: linear-gradient(120deg, #1f45e1, #178ffa);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  /* Demander à Séverine pour le début du H2 est coupé */
  font-size: 30px;
  /* Taille Police */
  font-weight: 500;
  /* Taille Police */
}

#main-homepage nav #menu3 h3 {
  color: #178ffa;
  font-family: "Kaushan Script";
  font-weight: 500;
  /* Taille Police */
  font-size: 20px;
}

#main-homepage nav #menu4 {
  background-color: #fdfffd;
  font-family: "Kaushan Script";
  text-align: center;
  /* Background et Font */
  -webkit-box-shadow: 0px 0px 8px 2px #a6a4a6;
  -moz-box-shadow: 0px 0px 8px 2px #a6a4a6;
  box-shadow: 0px 0px 8px 2px #a6a4a6;
  /* Ombre sur boîte Menu */
  display: flex;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  align-items: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  justify-content: center;
  /* Mise en page avec centralisation des éléments dans les box Menus */
  height: 300px;
  /* Mise en forme des box Menus */
  margin: 20px;
  /* Mise en forme des box Menus */
}

#main-homepage nav #menu4 :hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

#main-homepage nav #menu4 h2 {
  background-color: #54a546;
  background-image: linear-gradient(120deg, #54a546, #c2ff88);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  font-size: 30px;
  /* Taille Police */
}

#main-homepage nav #menu4 h3 {
  color: #54a546;
  font-family: "Kaushan Script";
  font-weight: 500;
  /* Taille Police */
  font-size: 20px;
}

#main-homepage #bouton-prochainement {
  grid-column: 5/9;
  /* Mise en page de l'élément */
  text-align: center;
  /* Mise en page de l'élément */
  background-color: #579c87;
  /* Mise en page de l'élément */
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 0px none #579c87;
  background-color: #579c87;
  /* Mixins pour les bordures arrondies du boutons */
  margin-bottom: 20px;
  /* Mise en page de l'élément */
  min-width: 150px;
  max-width: 150px;
  align-self: center;
  justify-self: center;
}

#main-homepage #bouton-prochainement a {
  color: #fdcb46;
  /* Police */
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

#main-homepage #bouton-prochainement a h3 {
  margin: 8px;
  /* Mise en page de l'élément */
  margin-right: 0;
  font-size: 1.2em;
  /* Police */
  font-weight: 400;
  /* Police */
  align-self: center;
  justify-self: center;
  text-align: center;
}

#main-homepage #bouton-prochainement a #loading-dots {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 7px;
}

#main-homepage #bouton-prochainement a #loading-dots > div {
  width: 2px;
  height: 2px;
  margin-left: 0;
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation: 1s bounce infinite ease-in-out both;
}

#main-homepage #bouton-prochainement a #loading-dots #bounce {
  animation-delay: -0.35s;
  width: 2px;
  height: 2px;
  margin-left: 2px;
}

#main-homepage #bouton-prochainement a #loading-dots #bounce2 {
  animation-delay: -0.15s;
  width: 2px;
  height: 2px;
  margin-left: 2px;
}

#main-homepage #bouton-prochainement a #loading-dots #bounce3 {
  width: 2px;
  height: 2px;
  margin-left: 2px;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* ---------------------------------------- */
/* ==              FOOTER             */
/*---------------------------------------- */
footer {
  display: grid;
  /* Mise en page de l'élément */
  grid-template-columns: repeat(12, 1fr);
  /* Mise en page de l'élément */
  grid-template-rows: repeat(2, 1fr);
  /* Mise en page de l'élément */
  text-align: center;
  /* Mise en page de l'élément */
  background-color: #579c87;
  /* Mise en page de l'élément */
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer #bouton-mentions-legales {
  grid-column: 3/11;
  /* Mise en page de l'élément */
  padding: 5px;
  /* Mise en page de l'élément */
  margin-top: 10px;
  /* Mise en page de l'élément */
  margin-bottom: 5px;
  /* Mise en page de l'élément */
}

footer #bouton-contact {
  grid-column: 3/11;
  /* Mise en page de l'élément */
  grid-row: 2/2;
  /* Mise en page de l'élément */
}

footer a:link {
  font-size: 1.2em;
  /* Police */
  color: #fdcb46;
}

footer :hover {
  color: #fdcb46;
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer :visited {
  color: #fdcb46;
}

/* ---------------------------------------- */
/* ==         MENTIONS LEGALES              */
/*---------------------------------------- */
#main-mentionlegales {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px;
}

#main-mentionlegales h2, #main-mentionlegales p, #main-mentionlegales h3, #main-mentionlegales ul, #main-mentionlegales li {
  grid-column: 2/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-mentionlegales h2 {
  text-align: center;
  color: #579c87;
  font-size: 30px;
}

#main-mentionlegales h3 {
  color: #fdcb46;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 25px;
}

#main-mentionlegales ul {
  font-size: 16px;
}

#main-mentionlegales li:nth-child(1) {
  margin-top: 16px;
}

#main-mentionlegales p {
  text-align: justify;
  margin-bottom: 5px;
  font-size: 16px;
}

/* ---------------------------------------- */
/* ==               MENU 1                  */
/*---------------------------------------- */
#main-menu1 {
  width: 80%;
  /* Mise en page de l'élément */
  margin: 10px auto;
  /* Mise en page de l'élément */
  background-color: #fcdfdb;
  font-family: "Satisfy";
  margin-bottom: 95px;
}

#main-menu1 #titre-menu1 {
  display: flex;
  flex-direction: column;
}

#main-menu1 #titre-menu1 #note-music {
  text-align: center;
  margin-top: 10px;
  font-size: 5em;
  height: 65px;
  transform: skew(-10deg, -15deg);
  color: #c31f2e;
  background: -webkit-linear-gradient(321deg, red, #ffc3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-menu1 #titre-menu1 h2 {
  text-align: center;
  margin: 0;
  color: #532b30;
  font-size: 30px;
}

#main-menu1 .entrees-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  color: #532b30;
  font-size: 16px;
}

#main-menu1 .entrees-menu #titre-entrees-menu1 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 6/8;
  text-align: center;
}

#main-menu1 .entrees-menu #titre-entrees-menu1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #532b30;
  transition: width .3s;
}

#main-menu1 .entrees-menu #titre-entrees-menu1:hover::after {
  width: 100%;
}

#main-menu1 .entrees-menu .barre-laterale-gauche {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 2/5;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .entrees-menu .barre-laterale-droite {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 9/12;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .entrees-menu .entree1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu1 .entrees-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .entrees-menu .entree2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu1 .entrees-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .entrees-menu .entree3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu1 .entrees-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .entrees-menu .entree4 {
  grid-column: 2/10;
  grid-row: 5;
  margin: 4px;
}

#main-menu1 .entrees-menu .prix4 {
  grid-column: 11/13;
  grid-row: 5;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .plats-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  color: #532b30;
  font-size: 16px;
}

#main-menu1 .plats-menu #titre-plats-menu1 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
}

#main-menu1 .plats-menu #titre-plats-menu1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #532b30;
  transition: width .3s;
}

#main-menu1 .plats-menu #titre-plats-menu1:hover::after {
  width: 100%;
}

#main-menu1 .plats-menu .barre-laterale-gauche {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 2/5;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .plats-menu .barre-laterale-droite {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 9/12;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .plats-menu .plat1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu1 .plats-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .plats-menu .plat2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu1 .plats-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .plats-menu .plat3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu1 .plats-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  font-weight: 600;
}

#main-menu1 .dessert-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  color: #532b30;
  font-size: 16px;
}

#main-menu1 .dessert-menu #titre-desserts-menu1 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
}

#main-menu1 .dessert-menu #titre-desserts-menu1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #532b30;
  transition: width .3s;
}

#main-menu1 .dessert-menu #titre-desserts-menu1:hover::after {
  width: 100%;
}

#main-menu1 .dessert-menu .barre-laterale-gauche {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 2/5;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .dessert-menu .barre-laterale-droite {
  background-color: #532b30;
  grid-row: 1;
  grid-column: 9/12;
  height: 3px;
  width: 100%;
  transition: width .3s;
  display: flex;
  align-self: center;
}

#main-menu1 .dessert-menu .dessert1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu1 .dessert-menu .dessert2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu1 .dessert-menu .dessert3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu1 #fin-menu1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#main-menu1 #fin-menu1 #note-music {
  font-size: 3em;
  transform: skew(-10deg, -15deg);
  color: #c31f2e;
  background: -webkit-linear-gradient(321deg, red, #ffc3af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-menu1 #fin-menu1 h2 {
  color: #532b30;
  font-size: 20px;
  font-weight: 800;
}

/* ---------------------------------------- */
/* ==               MENU 2                  */
/*---------------------------------------- */
#main-menu-carte2 {
  width: 80%;
  /* Mise en page de l'élément */
  margin: 10px auto;
  /* Mise en page de l'élément */
  background-color: #fff5fe;
  font-family: "Cormorant Infant";
  padding-bottom: 12%;
  margin-bottom: 95px;
}

#main-menu-carte2 #titre-menu {
  display: flex;
  flex-direction: column;
}

#main-menu-carte2 #titre-menu h2 {
  text-align: center;
  background-color: #d88b45;
  background-image: linear-gradient(120deg, #d88b45, #9360fe);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* Dégrader couleur texte */
  font-size: 30px;
  /* Taille Police */
  margin: 12% auto;
}

#main-menu-carte2 .entrees-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu-carte2 .entrees-menu #titre-entrees-menu2 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu #titre-entrees-menu2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #c67412;
  transition: width .3s;
}

#main-menu-carte2 .entrees-menu #titre-entrees-menu2:hover::after {
  width: 100%;
}

#main-menu-carte2 .entrees-menu .barre-laterale-gauche {
  background-color: #c67412;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .entrees-menu .barre-laterale-droite {
  background-color: #c67412;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .entrees-menu .entree1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu .entree2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu .entree3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .entrees-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  color: #c67412;
}

#main-menu-carte2 .plats-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu-carte2 .plats-menu #titre-plats-menu2 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  color: #a56799;
}

#main-menu-carte2 .plats-menu #titre-plats-menu2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #a56799;
  transition: width .3s;
}

#main-menu-carte2 .plats-menu #titre-plats-menu2:hover::after {
  width: 100%;
}

#main-menu-carte2 .plats-menu .barre-laterale-gauche {
  background-color: #a56799;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .plats-menu .barre-laterale-droite {
  background-color: #a56799;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .plats-menu .plat1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .plats-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .plats-menu .plat2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .plats-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .plats-menu .plat3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .plats-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  color: #a56799;
}

#main-menu-carte2 .dessert-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu-carte2 .dessert-menu #titre-desserts-menu2 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  color: #6e4ccc;
}

#main-menu-carte2 .dessert-menu #titre-desserts-menu2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #6e4ccc;
  transition: width .3s;
}

#main-menu-carte2 .dessert-menu #titre-desserts-menu2:hover::after {
  width: 100%;
}

#main-menu-carte2 .dessert-menu .barre-laterale-gauche {
  background-color: #6e4ccc;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .dessert-menu .barre-laterale-droite {
  background-color: #6e4ccc;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu-carte2 .dessert-menu .dessert1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
  color: #6e4ccc;
}

#main-menu-carte2 .dessert-menu .dessert2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
  color: #6e4ccc;
}

#main-menu-carte2 .dessert-menu .dessert3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
  color: #6e4ccc;
}

/* ---------------------------------------- */
/* ==               MENU 3                  */
/*---------------------------------------- */
#main-menu3 {
  width: 80%;
  /* Mise en page de l'élément */
  margin: 10px auto;
  /* Mise en page de l'élément */
  background-color: #edefef;
  font-family: "Dancing Script";
  padding-bottom: 12%;
  margin-bottom: 95px;
}

#main-menu3 #titre-menu {
  display: flex;
  flex-direction: column;
}

#main-menu3 #titre-menu h2 {
  text-align: center;
  font-size: 40px;
  /* Taille Police */
  background-color: #1f45e1;
  background-image: linear-gradient(120deg, #1f45e1, #178ffa);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#main-menu3 .entrees-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
  font-weight: 600;
}

#main-menu3 .entrees-menu #titre-entrees-menu3 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
}

#main-menu3 .entrees-menu #titre-entrees-menu3::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu3 .entrees-menu #titre-entrees-menu3:hover::after {
  width: 100%;
}

#main-menu3 .entrees-menu .barre-laterale-gauche {
  background-color: #0228dd;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .entrees-menu .barre-laterale-droite {
  background-color: #0228dd;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .entrees-menu .entree1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .entrees-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .entrees-menu .entree2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .entrees-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .entrees-menu .entree3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu3 .entrees-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
}

#main-menu3 .plats-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
  font-weight: 600;
}

#main-menu3 .plats-menu #titre-plats-menu3 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
}

#main-menu3 .plats-menu #titre-plats-menu3::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu3 .plats-menu #titre-plats-menu3:hover::after {
  width: 100%;
}

#main-menu3 .plats-menu .barre-laterale-gauche {
  background-color: #0670f3;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .plats-menu .barre-laterale-droite {
  background-color: #0670f3;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .plats-menu .plat1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .plats-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .plats-menu .plat2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .plats-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .plats-menu .plat3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu3 .plats-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
}

#main-menu3 .dessert-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
  font-weight: 600;
}

#main-menu3 .dessert-menu #titre-desserts-menu3 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
}

#main-menu3 .dessert-menu #titre-desserts-menu3::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu3 .dessert-menu #titre-desserts-menu3:hover::after {
  width: 100%;
}

#main-menu3 .dessert-menu .barre-laterale-gauche {
  background-color: #229df9;
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .dessert-menu .barre-laterale-droite {
  background-color: #229df9;
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu3 .dessert-menu .dessert1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .dessert-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
}

#main-menu3 .dessert-menu .dessert2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .dessert-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
}

#main-menu3 .dessert-menu .dessert3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu3 .dessert-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
}

/* ---------------------------------------- */
/* ==               MENU 4                  */
/*---------------------------------------- */
#main-menu4 {
  width: 80%;
  /* Mise en page de l'élément */
  margin: 10px auto;
  /* Mise en page de l'élément */
  background-color: #fdfffd;
  font-family: "Kaushan Script";
  padding-bottom: 12%;
  margin-bottom: 95px;
}

#main-menu4 #titre-menu1 {
  display: flex;
  flex-direction: column;
}

#main-menu4 #titre-menu1 h2 {
  text-align: center;
  font-size: 40px;
  /* Taille Police */
  background-color: #54a546;
  background-image: linear-gradient(120deg, #54a546, #c2ff88);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#main-menu4 .entrees-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu4 .entrees-menu #titre-entrees-menu4 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  font-weight: 300;
}

#main-menu4 .entrees-menu #titre-entrees-menu4::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu4 .entrees-menu #titre-entrees-menu4:hover::after {
  width: 100%;
}

#main-menu4 .entrees-menu .barre-laterale-gauche {
  background: #bbfc7d;
  background: -moz-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: -webkit-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .entrees-menu .barre-laterale-droite {
  background: #41963d;
  background: -moz-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: -webkit-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .entrees-menu .entree1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu4 .entrees-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .entrees-menu .entree2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu4 .entrees-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .entrees-menu .entree3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu4 .entrees-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .plats-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu4 .plats-menu #titre-plats-menu4 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  font-weight: 300;
}

#main-menu4 .plats-menu #titre-plats-menu4::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu4 .plats-menu #titre-plats-menu4:hover::after {
  width: 100%;
}

#main-menu4 .plats-menu .barre-laterale-gauche {
  background: #bbfc7d;
  background: -moz-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: -webkit-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .plats-menu .barre-laterale-droite {
  background: #41963d;
  background: -moz-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: -webkit-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .plats-menu .plat1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu4 .plats-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .plats-menu .plat2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu4 .plats-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .plats-menu .plat3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu4 .plats-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .dessert-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  font-size: 16px;
}

#main-menu4 .dessert-menu #titre-desserts-menu4 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 5/9;
  text-align: center;
  font-weight: 300;
}

#main-menu4 .dessert-menu #titre-desserts-menu4::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

#main-menu4 .dessert-menu #titre-desserts-menu4:hover::after {
  width: 100%;
}

#main-menu4 .dessert-menu .barre-laterale-gauche {
  background: #bbfc7d;
  background: -moz-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: -webkit-linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  background: linear-gradient(321deg, #bbfc7d 0%, #41963d 100%);
  grid-row: 1;
  grid-column: 2/4;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .dessert-menu .barre-laterale-droite {
  background: #41963d;
  background: -moz-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: -webkit-linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  background: linear-gradient(321deg, #41963d 0%, #bbfc7d 100%);
  grid-row: 1;
  grid-column: 10/12;
  height: 3px;
  width: 100%;
  display: flex;
  align-self: center;
}

#main-menu4 .dessert-menu .dessert1 {
  grid-column: 2/10;
  grid-row: 2;
  margin: 4px;
}

#main-menu4 .dessert-menu .prix1 {
  grid-column: 11/13;
  grid-row: 2;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .dessert-menu .dessert2 {
  grid-column: 2/10;
  grid-row: 3;
  margin: 4px;
}

#main-menu4 .dessert-menu .prix2 {
  grid-column: 11/13;
  grid-row: 3;
  margin: 4px;
  font-weight: 800;
}

#main-menu4 .dessert-menu .dessert3 {
  grid-column: 2/10;
  grid-row: 4;
  margin: 4px;
}

#main-menu4 .dessert-menu .prix3 {
  grid-column: 11/13;
  grid-row: 4;
  margin: 4px;
  font-weight: 800;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */
/* /* small tablet styles */
@media screen and (min-width: 768px) {
  /* HEADER */
  header h1 {
    font-size: 50px;
  }
  /* HOMEPAGE */
  #main-homepage {
    width: 100%;
    margin-bottom: 85px;
  }
  #main-homepage nav {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    grid-column: 1/13;
  }
  #main-homepage nav #menu1 {
    grid-row: 1;
    min-width: 320px;
    max-width: 400px;
    height: 400px;
    align-self: center;
    justify-self: center;
  }
  #main-homepage nav #menu2 {
    grid-row: 1;
    min-width: 320px;
    max-width: 400px;
    height: 400px;
    align-self: center;
    justify-self: center;
  }
  #main-homepage nav #menu3 {
    grid-row: 2;
    min-width: 320px;
    max-width: 400px;
    height: 400px;
    align-self: center;
    justify-self: center;
  }
  #main-homepage nav #menu4 {
    grid-row: 2;
    min-width: 320px;
    max-width: 400px;
    height: 400px;
    align-self: center;
    justify-self: center;
  }
  #main-homepage #bouton-prochainement {
    margin-bottom: 15px;
    min-width: 300px;
    max-width: 300px;
  }
  #main-homepage #bouton-prochainement a h3 {
    font-size: 20px;
    margin-left: 50px;
  }
  #main-homepage #bouton-prochainement a #loading-dots {
    padding-top: 8px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce {
    margin-left: 6px;
    width: 4px;
    height: 4px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce2 {
    width: 4px;
    height: 4px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce3 {
    width: 4px;
    height: 4px;
  }
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-rows: none;
  }
  footer #bouton-mentions-legales {
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    font-size: 15px;
  }
  footer #bouton-contact {
    grid-column: 10/13;
    align-self: center;
    justify-self: center;
    font-size: 15px;
    grid-row: 1;
  }
  /* MENU 1 */
  #main-menu1 {
    max-width: 760px;
    min-width: 700px;
  }
  #main-menu1 #titre-menu1 h2 {
    font-size: 35px;
  }
  #main-menu1 .entrees-menu #titre-entrees-menu1 {
    font-size: 25px;
  }
  #main-menu1 .entrees-menu p {
    font-size: 20px;
  }
  #main-menu1 .plats-menu #titre-plats-menu1 {
    font-size: 25px;
  }
  #main-menu1 .plats-menu p {
    font-size: 20px;
  }
  #main-menu1 .dessert-menu #titre-desserts-menu1 {
    font-size: 25px;
  }
  #main-menu1 .dessert-menu p {
    font-size: 20px;
  }
  #main-menu1 #fin-menu1 h2 {
    font-size: 25px;
  }
  /* MENU 2 */
  #main-menu-carte2 {
    max-width: 760px;
    min-width: 700px;
  }
  #main-menu-carte2 #titre-menu h2 {
    font-size: 35px;
  }
  #main-menu-carte2 .entrees-menu #titre-entrees-menu2 {
    font-size: 25px;
  }
  #main-menu-carte2 .entrees-menu p {
    font-size: 20px;
  }
  #main-menu-carte2 .plats-menu #titre-plats-menu2 {
    font-size: 25px;
  }
  #main-menu-carte2 .plats-menu p {
    font-size: 20px;
  }
  #main-menu-carte2 .dessert-menu #titre-desserts-menu2 {
    font-size: 25px;
  }
  #main-menu-carte2 .dessert-menu p {
    font-size: 20px;
  }
  /* MENU 3 */
  #main-menu3 {
    max-width: 760px;
    min-width: 700px;
  }
  #main-menu3 #titre-menu h2 {
    font-size: 35px;
  }
  #main-menu3 .entrees-menu #titre-entrees-menu3 {
    font-size: 25px;
  }
  #main-menu3 .entrees-menu p {
    font-size: 20px;
  }
  #main-menu3 .plats-menu #titre-plats-menu3 {
    font-size: 25px;
  }
  #main-menu3 .plats-menu p {
    font-size: 20px;
  }
  #main-menu3 .dessert-menu #titre-desserts-menu3 {
    font-size: 25px;
  }
  #main-menu3 .dessert-menu p {
    font-size: 20px;
  }
  /* MENU 4 */
  #main-menu4 {
    max-width: 760px;
    min-width: 700px;
  }
  #main-menu4 #titre-menu h2 {
    font-size: 35px;
  }
  #main-menu4 .entrees-menu #titre-entrees-menu4 {
    font-size: 25px;
  }
  #main-menu4 .entrees-menu p {
    font-size: 20px;
  }
  #main-menu4 .plats-menu #titre-plats-menu3 {
    font-size: 25px;
  }
  #main-menu4 .plats-menu p {
    font-size: 20px;
  }
  #main-menu4 .dessert-menu #titre-desserts-menu4 {
    font-size: 25px;
  }
  #main-menu4 .dessert-menu p {
    font-size: 20px;
  }
  /* ---------------------------------------- */
  /* ==         MENTIONS LEGALES              */
  /*---------------------------------------- */
  #main-mentionlegales h2 {
    font-size: 35px;
  }
  #main-mentionlegales h3 {
    font-size: 25px;
  }
  #main-mentionlegales ul {
    font-size: 20px;
  }
  #main-mentionlegales p {
    font-size: 20px;
  }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  #main-homepage nav #menu1 {
    min-width: 400px;
    max-width: 450px;
    height: 500px;
  }
  #main-homepage nav #menu1 #note-music {
    font-size: 60px;
  }
  #main-homepage nav #menu1 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu1 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu2 {
    min-width: 400px;
    max-width: 450px;
    height: 500px;
  }
  #main-homepage nav #menu2 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu2 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu3 {
    min-width: 400px;
    max-width: 450px;
    height: 500px;
  }
  #main-homepage nav #menu3 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu3 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu4 {
    min-width: 400px;
    max-width: 450px;
    height: 500px;
  }
  #main-homepage nav #menu4 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu4 h3 {
    font-size: 30px;
  }
  #main-homepage #bouton-prochainement {
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 20px;
  }
  #main-homepage #bouton-prochainement a h3 {
    font-size: 30px;
  }
  #main-homepage #bouton-prochainement a #loading-dots {
    padding-top: 16px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce {
    margin-left: 8px;
    width: 6px;
    height: 6px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce2 {
    width: 6px;
    height: 6px;
  }
  #main-homepage #bouton-prochainement a #loading-dots #bounce3 {
    width: 6px;
    height: 6px;
  }
  footer #bouton-mentions-legales {
    font-size: 20px;
  }
  footer #bouton-contact {
    font-size: 20px;
  }
  /* MENU 1 */
  #main-menu1 {
    max-width: 760px;
    min-width: 700px;
    margin-bottom: 100px;
  }
  #main-menu1 #titre-menu1 h2 {
    font-size: 40px;
  }
  #main-menu1 .entrees-menu #titre-entrees-menu1 {
    font-size: 30px;
  }
  #main-menu1 .entrees-menu p {
    font-size: 25px;
  }
  #main-menu1 .plats-menu #titre-plats-menu1 {
    font-size: 30px;
  }
  #main-menu1 .plats-menu p {
    font-size: 25px;
  }
  #main-menu1 .dessert-menu #titre-desserts-menu1 {
    font-size: 30px;
  }
  #main-menu1 .dessert-menu p {
    font-size: 25px;
  }
  #main-menu1 #fin-menu1 h2 {
    font-size: 30px;
  }
  /* MENU 2 */
  #main-menu-carte2 {
    max-width: 760px;
    min-width: 700px;
    margin-bottom: 100px;
  }
  #main-menu-carte2 #titre-menu h2 {
    font-size: 40px;
  }
  #main-menu-carte2 .entrees-menu #titre-entrees-menu2 {
    font-size: 30px;
  }
  #main-menu-carte2 .entrees-menu p {
    font-size: 25px;
  }
  #main-menu-carte2 .plats-menu #titre-plats-menu2 {
    font-size: 30px;
  }
  #main-menu-carte2 .plats-menu p {
    font-size: 25px;
  }
  #main-menu-carte2 .dessert-menu #titre-desserts-menu2 {
    font-size: 30px;
  }
  #main-menu-carte2 .dessert-menu p {
    font-size: 25px;
  }
  /* MENU 3 */
  #main-menu3 {
    max-width: 760px;
    min-width: 700px;
    margin-bottom: 100px;
  }
  #main-menu3 #titre-menu h2 {
    font-size: 40px;
  }
  #main-menu3 .entrees-menu #titre-entrees-menu3 {
    font-size: 30px;
  }
  #main-menu3 .entrees-menu p {
    font-size: 25px;
  }
  #main-menu3 .plats-menu #titre-plats-menu3 {
    font-size: 30px;
  }
  #main-menu3 .plats-menu p {
    font-size: 25px;
  }
  #main-menu3 .dessert-menu #titre-desserts-menu3 {
    font-size: 30px;
  }
  #main-menu3 .dessert-menu p {
    font-size: 25px;
  }
  /* MENU 4 */
  #main-menu4 {
    max-width: 760px;
    min-width: 700px;
    margin-bottom: 100px;
  }
  #main-menu4 #titre-menu h2 {
    font-size: 40px;
  }
  #main-menu4 .entrees-menu #titre-entrees-menu4 {
    font-size: 30px;
  }
  #main-menu4 .entrees-menu p {
    font-size: 25px;
  }
  #main-menu4 .plats-menu #titre-plats-menu4 {
    font-size: 30px;
  }
  #main-menu4 .plats-menu p {
    font-size: 25px;
  }
  #main-menu4 .dessert-menu #titre-desserts-menu4 {
    font-size: 30px;
  }
  #main-menu4 .dessert-menu p {
    font-size: 25px;
  }
  /* ---------------------------------------- */
  /* ==         MENTIONS LEGALES              */
  /*---------------------------------------- */
  #main-mentionlegales {
    margin-bottom: 120px;
  }
  #main-mentionlegales h2 {
    font-size: 40px;
  }
  #main-mentionlegales h3 {
    font-size: 30px;
  }
  #main-mentionlegales ul {
    font-size: 25px;
  }
  #main-mentionlegales p {
    font-size: 25px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  #main-homepage nav #menu1 {
    min-width: 550px;
    max-width: 600px;
    height: 700px;
  }
  #main-homepage nav #menu1 #note-music {
    font-size: 60px;
  }
  #main-homepage nav #menu1 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu1 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu2 {
    min-width: 550px;
    max-width: 600px;
    height: 700px;
  }
  #main-homepage nav #menu2 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu2 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu3 {
    min-width: 550px;
    max-width: 600px;
    height: 700px;
  }
  #main-homepage nav #menu3 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu3 h3 {
    font-size: 30px;
  }
  #main-homepage nav #menu4 {
    min-width: 550px;
    max-width: 600px;
    height: 700px;
  }
  #main-homepage nav #menu4 h2 {
    font-size: 40px;
  }
  #main-homepage nav #menu4 h3 {
    font-size: 30px;
  }
  #main-homepage #bouton-prochainement {
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 20px;
  }
  #main-homepage #bouton-prochainement a h3 {
    font-size: 30px;
  }
  #main-homepage #bouton-prochainement a #loading-dots {
    padding-top: 15px;
  }
  footer #bouton-mentions-legales {
    font-size: 20px;
  }
  footer #bouton-contact {
    font-size: 20px;
  }
  /* MENU 1 */
  #main-menu1 {
    max-width: 900px;
    min-width: 850px;
  }
  /* MENU 2 */
  #main-menu-carte2 {
    max-width: 900px;
    min-width: 850px;
  }
  /* MENU 3 */
  #main-menu3 {
    max-width: 900px;
    min-width: 850px;
  }
  /* MENU 4 */
  #main-menu4 {
    max-width: 900px;
    min-width: 850px;
  }
}

@media only screen and (max-width: 2000px) {
  main#main-homepage {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */