/* ---------------------------------------- */
/* == IMPORTATION DES VARIABLES ET MIXINS*/
/*---------------------------------------- */


@import "variables.scss";
@import "mixins.scss";


/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */


@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('fonts/Comorant/CormorantInfant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('fonts/Kaushan/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/Dancing script/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Reset */
body,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


li {
    list-style-type: none;
}

/* ---------------------------------------- */
/* == MOBILE FIRST*/
/*---------------------------------------- */



body {
    font-family: $font-principal; /* Font principal du site */
    font-size: 12px;
}

/* ---------------------------------------- */
/* ==             HOMEPAGE             */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */

header {
    display: grid; /* Mise en page de l'élément */
    grid-template-columns: repeat(3, 1fr); /* Mise en page de l'élément */
    background-color: $primary-color;

    h1 {
        text-align: center; /* Mise en page de l'élément */
        grid-column: 2/3; /* Mise en page de l'élément */
        color: $secondary-color; 
        font-family: $font-principal;
        font-size: 3em;
    }
}

/* ---------------------------------------- */
/* ==              MAIN              */
/*---------------------------------------- */


#main-homepage {
    display: grid; /* Mise en page de l'élément */
    grid-template-columns: repeat(12, 1fr); /* Mise en page de l'élément */

        nav {
            grid-column: 4/10; /* Mise en page de l'élément */
            min-width: 250px;
            max-width: 250px;
            align-self: center;
            justify-self: center;

                #menu1{
                    @include style-menu($menu1, $font-menu-1); /* Background et Font */
                    @include box-shadow; /* Ombre sur boîte Menu */
                    display: flex; /* Mise en page avec centralisation des éléments dans les box Menus */
                    align-items: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    justify-content: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    height: 300px; /* Mise en forme des box Menus */
                    margin: 20px; /* Mise en forme des box Menus */
                    
                    

                        #note-music {
                            @include gradient-text($color-radient-note-first, $color-radient-note-second); /* Voir dégradé note music avec Séverine */
                            font-size: 2em;
                            margin-bottom: 0;
                            @include style-note-music; /* Voir cisaillement note music avec Séverine */
                        }
                        h2 {
                            color: $font-color-menu1;
                            font-size: 1.5em;
                            margin-top: 0;
                            
                        }
                        h3 {
                            color: $font-color-menu1;
                            
                        }
                }

                #menu2{
                    @include style-menu($menu2, $font-menu-2); /* Background et Font */
                    @include box-shadow; /* Ombre sur boîte Menu */
                    display: flex; /* Mise en page avec centralisation des éléments dans les box Menus */
                    align-items: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    justify-content: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    height: 300px; /* Mise en forme des box Menus */
                    margin: 20px; /* Mise en forme des box Menus */
                    
                    
                       h2 {
                            @include gradient-text($color-radient-first, $color-radient-second); /* Dégrader couleur texte */
                            font-size: 1.5em; /* Taille Police */
                            
                       }
                       h3 {
                            color: $color-radient-first;
                            
                       }
                }

                #menu3{
                    @include style-menu($menu3, $font-menu-3); /* Background et Font */
                    @include box-shadow; /* Ombre sur boîte Menu */
                    display: flex; /* Mise en page avec centralisation des éléments dans les box Menus */
                    align-items: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    justify-content: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    height: 300px; /* Mise en forme des box Menus */
                    margin: 20px; /* Mise en forme des box Menus */
                    
                    
                        h2 {
                            @include gradient-text($color-radient-third, $color-radient-fourth); /* Dégrader couleur texte */
                            /* Demander à Séverine pour le début du H2 est coupé */
                            font-size: 1.5em; /* Taille Police */
                            font-weight: 500; /* Taille Police */
                            
                        }
                         h3 {
                            color: $color-radient-fourth;
                            font-family: $font-menu-4;
                            font-weight: 500; /* Taille Police */
                            
                        }
                }

                #menu4{
                    @include style-menu($menu4, $font-menu-4); /* Background et Font */
                    @include box-shadow; /* Ombre sur boîte Menu */
                    display: flex; /* Mise en page avec centralisation des éléments dans les box Menus */
                    align-items: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    justify-content: center; /* Mise en page avec centralisation des éléments dans les box Menus */
                    height: 300px; /* Mise en forme des box Menus */
                    margin: 20px; /* Mise en forme des box Menus */
                    
                    
                        h2 {
                            @include gradient-text($color-radient-fifth, $color-radient-sixth); /* Dégrader couleur texte */
                            font-size: 1.5em; /* Taille Police */
                            
                        }
                         h3 {
                            color: $color-radient-fifth;
                            font-family: $font-menu-4;
                            font-weight: 500; /* Taille Police */
                            
                        }
                }

        }
            

        #bouton-prochainement{
            grid-column: 5/9; /* Mise en page de l'élément */
            text-align: center; /* Mise en page de l'élément */
            background-color: $primary-color; /* Mise en page de l'élément */
            @include border(12px, 12px, 12px, 12px); /* Mixins pour les bordures arrondies du boutons */
            margin-bottom: 20px; /* Mise en page de l'élément */
            min-width: 170px;
            max-width: 170px;
            align-self: center;
            justify-self: center;

                a {
                    color: $secondary-color; /* Police */

                        h3 {
                            margin: 8px; /* Mise en page de l'élément */
                            font-size: 1.2em; /* Police */
                            font-weight: 400; /* Police */
                        }
                }


        }


}

/* ---------------------------------------- */
/* ==              FOOTER             */
/*---------------------------------------- */


footer {
    display: grid; /* Mise en page de l'élément */
    grid-template-columns: repeat(12, 1fr); /* Mise en page de l'élément */
    grid-template-rows: repeat(2, 1fr); /* Mise en page de l'élément */
    text-align: center; /* Mise en page de l'élément */
    background-color: $primary-color; /* Mise en page de l'élément */

    #bouton-mentions-legales {
        grid-column: 3/11; /* Mise en page de l'élément */
        padding: 5px; /* Mise en page de l'élément */
        margin-top: 10px; /* Mise en page de l'élément */
        margin-bottom: 5px; /* Mise en page de l'élément */

        
    }

    #bouton-contact {
        grid-column: 3/11; /* Mise en page de l'élément */
        grid-row: 2/2; /* Mise en page de l'élément */

    }


    a {
        color: $secondary-color; /* Police */
        font-size: 1.2em; /* Police */
    }

        
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */


/* /* small tablet styles */
/* @media screen and (min-width: 620px) {
        


} */



/* large tablets & laptop styles */
/* @media screen and (min-width: 960px) {

} */

/* desktop styles */
/* @media screen and (min-width: 1200px) {} */

/* ---------------------------------------- */
/* ==         MENTIONS LEGALES              */
/*---------------------------------------- */

#main-mentionlegales {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
        h2, p, h3, ul, li {
            grid-column: 2/12;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            text-align: center;
            color: $primary-color;
            font-size: 2em;
        }

        h3 {
            color: $secondary-color;
            text-decoration: underline;
            margin-bottom: 5px;
        }

        p {
            text-align: justify;
            margin-bottom: 5px;
        }
}

/* ---------------------------------------- */
/* ==               MENU 1                  */
/*---------------------------------------- */

#main-menu1{

    width: 80%; /* Mise en page de l'élément */
    margin: 10px auto; /* Mise en page de l'élément */
    background-color: $menu1;
    font-family: $font-menu-1;
    #titre-menu1 {
        display: flex;
        flex-direction: column;
        
        #note-music {
            text-align: center;
            margin-top: 10px;
            font-size: 5em;
            height: 65px;
        }

        h2 {
            text-align: center;
            margin: 0;
            color: $font-color-menu1;
            font-size: 30px;
        }
    }

    .entrees-menu {
        @include grid-menu(5);
        color: $font-color-menu1;
        font-size: 16px;

        #titre-entrees-menu1{
            @include grid-titre-menu;
            font-size: 20px;
        }
    
        .entree1 {
            @include grid-plat(2);
            font-size: 16px;
        }

        .prix1 {
            @include grid-prix(2);
            font-weight: 600;
        }

        .entree2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
            font-weight: 600;
        }

        .entree3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
            font-weight: 600;
        }

        .entree4 {
            @include grid-plat(5);
        }

        .prix4 {
            @include grid-prix(5);
            font-weight: 600;
        }
    }
        
    .plats-menu {
        @include grid-menu(4);
        color: $font-color-menu1;
        font-size: 16px;

        #titre-plats-menu1{
            @include grid-titre-menu;
            font-size: 20px;
        }
    
        .plat1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
            font-weight: 600;

        }

        .plat2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
            font-weight: 600;
        }

        .plat3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
            font-weight: 600;
        }
    }
    
    .dessert-menu {
        @include grid-menu(4);
        color: $font-color-menu1;
        font-size: 16px;

        #titre-desserts-menu1{
            @include grid-titre-menu;
            font-size: 20px;
        }
    
        .dessert1 {
            @include grid-plat(2);
        }

        .dessert2{
            @include grid-plat(3);
        }

        .dessert3 {
            @include grid-plat(4);
        }
    }   


    #fin-menu1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        #note-music {
            font-size: 3em;
        }
        h2 {
            color: $font-color-menu1;
            font-size: 20px;
            font-weight: 800;
        }
    }
}

/* ---------------------------------------- */
/* ==               MENU 2                  */
/*---------------------------------------- */

#main-menu-carte2{

    width: 80%; /* Mise en page de l'élément */
    margin: 10px auto; /* Mise en page de l'élément */
    background-color: $menu2;
    font-family: $font-menu-2;
    padding-bottom: 12% ;
    #titre-menu {
        display: flex;
        flex-direction: column;
        
        h2 {
            text-align: center;
            @include gradient-text($color-radient-first, $color-radient-second); /* Dégrader couleur texte */
            font-size: 30px; /* Taille Police */
            margin: 12% auto;
        }
    }

    .entrees-menu {
        @include grid-menu(4);
        font-size: 16px;

        #titre-entrees-menu2{
            @include grid-titre-menu;
            color: $entree-menu-2;
            font-size: 20px;
        }
    
        .entree1 {
            @include grid-plat(2);
            color: $entree-menu-2;
        }

        .prix1 {
            @include grid-prix(2);
            color: $entree-menu-2;

        }

        .entree2 {
            @include grid-plat(3);
            color: $entree-menu-2;
        }

        .prix2 {
            @include grid-prix(3);
            color: $entree-menu-2;
        }

        .entree3 {
            @include grid-plat(4);
            color: $entree-menu-2;
        }

        .prix3 {
            @include grid-prix(4);
            color: $entree-menu-2;
        }
    }
        
    .plats-menu {
        @include grid-menu(4);
        font-size: 16px;

        #titre-plats-menu2{
            @include grid-titre-menu;
            color: $plats-menu-2;
            font-size: 20px;
        }
    
        .plat1 {
            @include grid-plat(2);
            color: $plats-menu-2;
        }

        .prix1 {
            @include grid-prix(2);
            color: $plats-menu-2;

        }

        .plat2 {
            @include grid-plat(3);
            color: $plats-menu-2;
        }

        .prix2 {
            @include grid-prix(3);
            color: $plats-menu-2;
        }

        .plat3 {
            @include grid-plat(4);
            color: $plats-menu-2;
        }

        .prix3 {
            @include grid-prix(4);
            color: $plats-menu-2;
        }
    }
    
    .dessert-menu {
        @include grid-menu(4);
        font-size: 16px;

        #titre-desserts-menu2{
            @include grid-titre-menu;
            color: $desserts-menu-2;
            font-size: 20px
        }
    
        .dessert1 {
            @include grid-plat(2);
            color: $desserts-menu-2;
        }

        .dessert2{
            @include grid-plat(3);
            color: $desserts-menu-2;
        }

        .dessert3 {
            @include grid-plat(4);
            color: $desserts-menu-2;
        }
    }   
}

/* ---------------------------------------- */
/* ==               MENU 3                  */
/*---------------------------------------- */

#main-menu3{

    width: 80%; /* Mise en page de l'élément */
    margin: 10px auto; /* Mise en page de l'élément */
    background-color: $main-color-background-menu3;
    font-family: $font-menu-3;
    padding-bottom: 12% ;
    #titre-menu {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 40px; /* Taille Police */
            @include gradient-text($color-radient-third, $color-radient-fourth);
        }
    }

    .entrees-menu {
        @include grid-menu(4);
        font-size: 16px;
        font-weight: 600;

        #titre-entrees-menu3{
            @include grid-titre-menu;
            font-size: 20px;
        }
    
        .entree1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
        }

        .entree2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
        }

        .entree3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
        }
    }
        
    .plats-menu {
        @include grid-menu(4);
        font-size: 16px;
        font-weight: 600;

        #titre-plats-menu3{
            @include grid-titre-menu;
            font-size: 20px;
        }
    
        .plat1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
        }

        .plat2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
        }

        .plat3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
        }
    }
    
    .dessert-menu {
        @include grid-menu(4);
        font-size: 16px;
        font-weight: 600;

        #titre-desserts-menu3{
            @include grid-titre-menu;
            font-size: 20px
        }
    
        .dessert1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
        }

        .dessert2{
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
        }

        .dessert3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
        }
    }   

}

/* ---------------------------------------- */
/* ==               MENU 4                  */
/*---------------------------------------- */

#main-menu4{

    width: 80%; /* Mise en page de l'élément */
    margin: 10px auto; /* Mise en page de l'élément */
    background-color: $main-color-background-menu4;
    font-family: $font-menu-4;
    padding-bottom: 12% ;
    #titre-menu1 {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 40px; /* Taille Police */
            @include gradient-text($color-radient-fifth, $color-radient-sixth);
        }
    }

    .entrees-menu {
        @include grid-menu(4);
        font-size: 16px;
       

        #titre-entrees-menu4{
            @include grid-titre-menu;
            font-size: 20px;
            font-weight: 300;
        }
    
        .entree1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
            font-weight: 800;
        }

        .entree2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
            font-weight: 800;
        }

        .entree3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
            font-weight: 800;
        }
    }
        
    .plats-menu {
        @include grid-menu(4);
        font-size: 16px;
        

        #titre-plats-menu4{
            @include grid-titre-menu;
            font-size: 20px;
            font-weight: 300;
        }
    
        .plat1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
            font-weight: 800;
        }

        .plat2 {
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
            font-weight: 800;
        }

        .plat3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
            font-weight: 800;
        }
    }
    
    .dessert-menu {
        @include grid-menu(4);
        font-size: 16px;
        

        #titre-desserts-menu4{
            @include grid-titre-menu;
            font-size: 20px;
            font-weight: 300;
        }
    
        .dessert1 {
            @include grid-plat(2);
        }

        .prix1 {
            @include grid-prix(2);
            font-weight: 800;
        }

        .dessert2{
            @include grid-plat(3);
        }

        .prix2 {
            @include grid-prix(3);
            font-weight: 800;
        }

        .dessert3 {
            @include grid-plat(4);
        }

        .prix3 {
            @include grid-prix(4);
            font-weight: 800;
        }
    }   

}
