$primary-color: #579c87;
$secondary-color: #fdcb46;
$font-color-menu1: #532b30;
$color-radient-note-first: #f16e72;
$color-radient-note-second: #f78f6a;
$color-radient-first: #d88b45;
$color-radient-second: #9360fe;
$color-radient-third: #1f45e1;
$color-radient-fourth: #178ffa;
$color-radient-fifth: #54a546;
$color-radient-sixth: #c2ff88;
$font-principal: 'Montserrat';
$font-menu-1: 'Satisfy';
$font-menu-2: 'Cormorant Infant';
$font-menu-3: 'Dancing Script';
$font-menu-4: 'Kaushan Script';
$menu1: #fcdfdb;
$menu2: #fff5fe;
$menu3: #f9f9f9;
$menu4: #fdfffd;
